.root {
    background: linear-gradient(17deg, #0c3a4157, 20%, #4118709e 30%, #4118709e 70%, #11444b57 97%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    overflow: auto;
}

#overlay {
    background: linear-gradient(107deg, #4118701a 20%, #0c3a4145 30%, #11444b45 70%, #4118702b 97%);
    width: inherit;
    height: inherit;
    position: absolute;
    pointer-events: none;
}

#header {
    height: 10vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

#logo {
    height: 100%;
    width: 20%;
    flex: 58%;
}

#logoImg {
    width: 77px;
    height: 87px;
}

#navBar {
    height: 90%;
    flex: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navBoxes {
    width: 25%;
    height: 60%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.navLinks {
    color: #9cc6ce;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
}

#centerBanner {
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#centerMessage {
    width: 50%;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#mHeader {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    color: #9DC7CE;
}

#mText {
    margin-top: 1%;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: #bfacc9;
}

#searchBar {
    display: flex;
    align-self: end;
    width: 30%;
    height: 4.5%;
    position: absolute;
    bottom: 61%;
}

.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #13a09c;
    border-left: none;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    color: #2d9f6a;
    font-size: 20px;
    font-weight: 500;
}

.searchButton {
    width: 10%;
    display: flex;
    align-items: end;
    border: 2px solid #13a09c;
    border-right: none;
    background: #1e043f8c;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
}

    .searchButton:hover {
        background-color: #5702a1;
        cursor: pointer;
    }

#topicPanel {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.topicBox {
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    background-color: #1e043f8c;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 4%;
    width: 26%;
    height: 30%;
    justify-content: center;
    background-size: 32%;
    background-position: top 20% right 50%;
    align-items: flex-end;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Roboto;
    color: white;
    box-shadow: 0px 0px 15px 1px #13a09c;
}

    .topicBox:hover {
        cursor: pointer;
        opacity: .7;
    }

#account {
    background-image: url(src/img/users.svg);
    background-repeat: inherit;
}

#style {
    background-image: url(src/img/style.svg);
    background-repeat: inherit;
}

#mod {
    background-image: url(src/img/mod.svg);
    background-repeat: inherit;
}

#misc {
    background-image: url(src/img/full.svg);
    background-repeat: inherit;
}

#plugin {
    background-image: url(src/img/plugin.svg);
    background-repeat: inherit;
}

#faq {
    background-image: url(src/img/faq.svg);
    background-repeat: inherit;
}
