html {
    background-color: black;
    scroll-behavior: smooth;
    height: 2000px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #324d4e;
    border-radius: 30px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #731994;
    }

body {
    height: 99vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    overflow: auto;
}
#header {
    justify-self: center;
    background-color: #121212;
    height: 8vh;
    width: 100vw;
    display: flex;
    position: fixed;
    border-bottom: 5px;
    top: 0px;
}

#logo {
    height: 100%;
    flex: 58%;
    position: absolute;
    left: 10%;
}

#logoImg {
    width: 70px;
    height: 80px;
}